@media (max-width: 1390px) {
    .zero-block-description{
        width: 480px;
    }
    .voluptatibus-item {
        width: 320px;
    }
    h2 {
        font-size: 50px;
        line-height: 64px;
    }
    .maim-description {
        margin: 19px 0 6px;
        font-size: 17px;
        line-height: 21px;
    }
    .benefit-subtitle {
        font-size: 16px;
        line-height: 21px;
    }
    
    .number-description {
        width: max-content;
    }
    .mobile-picture {
        right: -55px;
    }
    
    .card-price {
        width: 305px;
    }
    .fact-title {
        width: 75%;
    }
    .voluptatibus-item h2 {
        line-height: 54px;
    }
    .email {
        width: 94%;
        margin-bottom: 10px;
    }
    
    .form-secondary {
        display: block;
        margin-top: 20px;
    }
    
    .form-secondary button {
        width: 100%;
    }
    
    .email-label {
        margin-top: 5px;}
    
        .nisi-card {
            width: 300px;}
    
    }
    
    @media (max-width: 1170px) {
        .backgraund {
            right: -180px;}
            
    .picture img {
        width: 430px;
        top: -8px;
        right: -13px;
    }
    .picture {
        width: 430px;
        height: 390px;}
        .voluptatibus-item {
            width: 350px;
        }
        h2 {
            font-size: 46px;
            line-height: 46px;
        }
        .result {
            margin-top: 15px;}
    
        .secondary-btn {
            margin-top: 10px;
        }
        .card-price {
            width: 270px;
        }
        .nisi-card {
            width: 270px;
        }
        .footer-inform {
            width: 23%;
        }
       }
    
       @media (max-width: 1020px) {
        .container {
            width: 92%;
        }
    
       }
    
       @media (max-width: 940px) {
        .backgraund {
            right: -420px;
        }
        h1 {
            font-size: 60px;
            line-height: 55px;
       }
       .zero-block-description {
        font-size: 16px;
        line-height: 24px;
    }
    .zero-block {
        height: 660px;}
        
    .benefits-description {
        width: 65%;
    }
    .benefit {
        width: 300px;
        margin-top: 15px;
    }
    .picture {
        width: 335px;
        height: 306px;
    }
    .picture img {
        width: 330px;
        top: -8px;
        right: -13px;
    }
    .voluptatibus .container {
        align-items: center;
        flex-direction: column;
        padding: 95px 0 75px;
    }
    .voluptatibus-item {
        margin-top: 15px;
        text-align: center;
        width: 500px;
    }
    
    .voluptatibus-item .benefit-subtitle {
        margin: 15px;
        
    }
    .result {
        justify-content: center;
    }
    .numbers {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0;
    
    }
    .secondary-btn {
        margin-top: 25px;
    }
    section {
        overflow: hidden;
    }
    .mobile-picture {
        right: -220px;
    }
    .achievements-item {
        width: 70%;
    
    }
    .card-price {
        width: 320px;
        margin-top: 20px;
    }
    .prices-group {
        align-items: center;
        flex-direction: column;
    }
    .prices {
        padding: 40px 0 80px;
    }
    .prices .maim-description {
        width: 85%;
        margin: 23px auto 0;
    }
    .fact-title {
        font-size: 20px;
        line-height: 28px;
    }
    .facts {
        grid-auto-rows: 345px;
    }
    .veritatis {
        padding: 63px 0 75px;
    }
    .nisi-item {
        flex-direction: column;
        align-items: center;
        margin-top: 37px;
    }
    .nisi .container {
        text-align: center;
    }
    .nisi-card {
        width: 320px;
        margin-top: 20px;
    }
    .nisi {
        padding: 45px 0 75px;
    }
    .request .container {
        flex-direction: column;
        gap: 15px;
    }
    .information-company {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
    .main-form {
        width: 100%;
    }
    h3 {
        text-align: center;
    }
    .social-link {
        margin: 20px 0;
    }
    .request .container {
        padding: 85px 0 75px;
    }
    .top-footer {
        flex-wrap: wrap;
        gap: 15px;
    }
       }
    
       @media (max-width: 800px) {
        nav ul{
            display: none;
        }
        .footer-inform {
            width: 100%;
            text-align: center;
        }
       }
    
       @media (max-width: 690px) {
        .backgraund {
            display: none;
        }
        .zero-block .container {
            text-align: center;
        }
        h1 {
            width: 100%;
            padding: 140px 0 26px 0;
        }
        .zero-block {
            height: 550px;
        }
        .mobile-picture {
            display: none;
        }
        .achievements-item {
            width: 100%;
        }
        .achievements-item {
            margin: 60px 0;
            padding: 0;
        }
        .card-review {
            min-width: 100%;
        }
        .reviews .maim-description {
            width: 100%;
        }
        .swiper {
            padding: 15px;
        }
        .scroll {
            margin: 18px auto 25px;
        }
        .card-price {
            width: 70%;
        }
        .head-block {
            flex-wrap: wrap;}
            .head-block .benefit-subtitle {
                width: 52%;
            }
            .head-block button{
                margin-top: 15px;
            }
    
            .facts {
                display: block;
            }
            .fact {
                margin-top: 20px;
                height: 450px;
            }
            .nisi-card {
                width: 70%;
            }
       }
    
       @media (max-width: 530px) {
        h1 {
            font-size: 45px;
            line-height: 42px;
        }
        .zero-block-description {
            width: 100%;
        }
        h2 {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }
        .benefits-description {
            width: 100%;
        }
        .benefit {
            width: 100%;
        }
        .picture img {
            width: 293px;
            top: -3px;
            right: -1px;
        }
        .picture {
            width: 296px;
            height: 267px;
        }
        .voluptatibus-item {
            width: 100%;
        }
        .achievka {
            width: 100%;
            text-align: center;
        }
        .achievements-item {
            text-align: center;
        }
        .card-price {
            width: 100%;
        }
        .head-block {
            justify-content: center;
            flex-direction: column;
        }
        .head-block .benefit-subtitle {
            width: 100%;
            margin: 0;
            text-align: center;
        }
        .head-block h2 {
            margin-bottom: 15px;
        }
        .nisi-card {
            width: 100%;
        }
        .main-form {
            padding: 30px 10px 48px;
        }
        .card-review {
            padding: 48px 10px 59px;
        }
        .text-review {
            font-size: 14px;
            line-height: 20px;
        }
       }